<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <package name="com.kuang.domain"/>
    </typeAliases>
    <!--  每一个Mapper.xml 都需要在MyBatis的核心配置文件中注册  -->
<!--    <mappers>
        <mapper class="com.kuang.mapper.UserMapper"/>
    </mappers>-->
</configuration>